<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tus grupos de escuela</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <accordion-list *ngFor="let zone of zones" [title]="zone.name" [expanded]="index===0" textColor="#FFF">
      <ion-item *ngFor="let group of zone.groups" (click)="openPageGroups(zone.name, group)">
        <ion-thumbnail item-start>
          <img src="../../assets/imgs/card-amsterdam.png">
        </ion-thumbnail>
        <h2>{{ group.name }}</h2>
        <p>{{ group.time_start }} - {{ group.time_end }}</p>
        <button ion-button clear item-end>Entrar</button>
      </ion-item>
    </accordion-list>
  </ion-list>
</ion-content>
