<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tus clases</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="list-avatar-page">
  <ion-list>
    <ion-list-header>Escuelas</ion-list-header>
    <accordion-list *ngFor="let zone of zones" [title]="zone.name" [expanded]="index===0" textColor="#FFF" [hidden]="zone.groups.length==0">
      <ion-item *ngFor="let group of zone.groups">
        <ion-thumbnail item-start (click)="openPageGroups(zone.name, group)">
          <img src="../../assets/imgs/card-amsterdam.png">
        </ion-thumbnail>
        <h2 (click)="openPageGroups(zone.name, group)">{{ group.name }}</h2>
        <p (click)="openPageGroups(zone.name, group)">{{ group.time_start }} - {{ group.time_end }}</p>
        <button ion-button clear item-end (click)="openPageGroups(zone.name, group)">Entrar</button>
        <button ion-button clear item-end (click)="deleteGroup(group.id)">Borrar</button>
      </ion-item>
    </accordion-list>
  </ion-list>

  <ion-list>
    <ion-list-header>Cursos</ion-list-header>
    <accordion-list *ngFor="let zone of zones" [title]="zone.name" [expanded]="index===0" textColor="#FFF" [hidden]="zone.courses.length==0">
      <ion-item *ngFor="let course of zone.courses">
        <ion-thumbnail item-start (click)="openPageCourses(zone.name, course)">
          <img src="../../assets/imgs/card-amsterdam.png">
        </ion-thumbnail>
        <h2 (click)="openPageCourses(zone.name, course)">{{ course.name }}</h2>
        <p (click)="openPageCourses(zone.name, course)">{{ course.time_start }} - {{ course.time_end }}</p>
        <button ion-button clear item-end (click)="openPageCourses(zone.name, course)">Entrar</button>
        <button ion-button clear item-end (click)="deleteCourse(course.id)">Borrar</button>
      </ion-item>
    </accordion-list>
  </ion-list>
</ion-content>
