<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tus grupos de escuela</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <accordion-list [title]="'Juan Carlos I'" [expanded]="index===0" textColor="#FFF">
      <ion-item *ngFor="let group of groups" (click)="openPageGroups(group)">
        <ion-thumbnail item-start>
          <img src="../../assets/imgs/card-amsterdam.png">
        </ion-thumbnail>
        <h2>{{group.location}} - {{ group.name }}</h2>
        <p>{{ group.time }}</p>
        <button ion-button clear item-end>Entrar</button>
      </ion-item>
    </accordion-list>
    <accordion-list [title]="'Retiro'" [expanded]="index===0" textColor="#FFF">
      <ion-item *ngFor="let group of groups" (click)="openPageGroups(group)">
        <ion-thumbnail item-start>
          <img src="../../assets/imgs/card-amsterdam.png">
        </ion-thumbnail>
        <h2>{{group.location}} - {{ group.name }}</h2>
        <p>{{ group.time }}</p>
        <button ion-button clear item-end>Entrar</button>
      </ion-item>
    </accordion-list>
  </ion-list>
</ion-content>
