<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Grupos de escuela</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content> -->
  <ion-content>
    <ion-list class="accordion-list">
      <!-- First Level -->
      <ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>
        <!-- Toggle Button -->
        <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
          <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
          <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
          {{ item.name }}
        </button>

        <ion-list *ngIf="item.children && item.open" no-lines>
          <!-- Second Level -->
          <ion-list-header *ngFor="let child of item.children; let j = index" no-padding menuClose (click)="openPageGroups(child)">
            <!-- Toggle Button -->
            <button ion-item (click)="toggleItem(i, j)" *ngIf="child.children" class="child" detail-none>
              <ion-icon item-left name="add" *ngIf="!child.open"></ion-icon>
              <ion-icon item-left name="close" *ngIf="child.open"></ion-icon>
              {{ child.name }}
            </button>
            <!-- Direct Add Button as Fallback -->
            <ion-item *ngIf="!child.children" ion-item detail-none class="child-item" text-wrap>
              <h2>{{ child.name }}</h2>
            </ion-item>

            <ion-list *ngIf="child.children && child.open">
              <!-- Third Level -->
              <ion-item *ngFor="let item of child.children; let k = index" detail-none class="child-item" text-wrap>
                <h2>{{ item.name }}</h2>
              </ion-item>
            </ion-list>
          </ion-list-header>
        </ion-list>
      </ion-list-header>
      <ion-list-header class="section" no-lines no-padding menuClose (click)="openPageSchool()">
        <button ion-item class="child" detail-none>
          <ion-icon item-left name="add"></ion-icon>
          Nueva Escuela
        </button>
      </ion-list-header>
      <ion-list-header class="section" no-lines no-padding menuClose (click)="openPageStudent()">
        <button ion-item class="child" detail-none>
          <ion-icon item-left name="add"></ion-icon>
          Nuevo Alumno
        </button>
      </ion-list-header>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
